body {
    background-image: url("../img/Bergamottepflanze_Creative_Commons_Attribution-Share_Alike_auteur_K_reger.png");
    background-repeat: no-repeat;
    background-color: #D0E2B7;
}

@font-face {
    font-family: 'VDS';
    src: url('./VDS_Compensated_Light_Italic.ttf');
/*
 * This Font Software is licensed under the SIL Open Font License, Version 1.1.
 * This license is copied in the source directory, and is also available with a FAQ at : http://scripts.sil.org/OFL
*/
}

#title {
    /*color: #618C50;*/
    color : #C6D86E;
    margin-top: 160px;
    margin-left: 10px;
    position:absolute;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size: 250%;
    font-family: 'VDS', Georgia, serif;
}

#submit {
    border: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-color: #9fbd75;
    text-indent: -9999px;
}

#search {
    height: 44px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 90%;
    /*border: 2px solid #9fbd75;*/
    border: 2px solid #618C50;
    float: left;
    font-size: 20px;
}

fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

#content {
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 60%;
    max-width: 60%;
    display: block;
    float: left;
}

#found {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 60%;
    max-width: 60%;
    display: block;
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #618C50;
    border-color:transparent transparent #618C50 transparent;
}

.document {
    background-color: #FFF;
    clear: both;
    display: block;
    float: left;
    padding: 10px;
    border-left: 2px solid #618C50;
    border-right: 2px solid #618C50;
    border-bottom: 2px solid #618C50;
    width: 100%
}

div.link {
    margin-bottom:5px;
}

div.link a:link {
  color: #618C50;
}

div.link a:hover {
  color: #405F34;
}

div.link a:visited {
  color: #654321;
}

.sample {
    margin: 0;
    margin-left: 50px;
    margin-right: 172px;
    padding: 0;
    border: 0;
    font-family: arial,sans-serif;
    font-size: small;
    overflow: hidden;
}

.icon {
    margin: 0;
    padding: 0;
    border: 0;
    width: 48px;
    float: left;
}

.info {
    margin: 0;
    padding: 0;
    border: 0;
    width: 170px;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    width: 170px;
    float: right;
    font-family: arial,sans-serif;
    font-size: small;
    list-style: none outside none;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
}

li.middle {
    border-bottom: 2px solid #9fbd75;
}

#progress {
    font-weight:bold;
    clear: both;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}

#progress a:link {
    color: #618C50;
}

#progress a:hover {
    color: #405F34;
}

#progress a:visited {
    color: #654321;
}

#progress .pg {
    margin: 5px;
    padding: 5px;
}

#logo {
    position:fixed;
    right:7%;
    bottom:0px;
    z-index:-1;
}

#pg {
    background-color: #9fbd75;
}

.percent {
    border: 1px solid #9fbd75;
    width: 100%;
    height: 10px;
}

.percent_high {
    background-color: #9fbd75;
}

.percent_middle {
    background-color: #e0c056;
}

.percent_low {
    background-color: #e05686;
}

#options {
    margin: 2em;
    text-align: center;
}
#options h1 {
    display: none;
    cursor: pointer;
}
