#submit {
    border: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-color: #9fbd75;
    text-indent: -9999px;
}

#search {
    height: 44px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 90%;
    /*border: 2px solid #9fbd75;*/
    border: 2px solid #618C50;
    float: left;
    font-size: 20px;
}

fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

#content {
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 60%;
    max-width: 60%;
    display: block;
    float: left;
}

#found {
    width:100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    font-size: small;
    color: #AAA;
}

.document {
    clear: both;
    display: block;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #618C50;
    width: 100%
}

div.link {
    margin-bottom:5px;
}

div.link a:link {
  color: #618C50;
}

div.link a:hover {
  color: #405F34;
}

div.link a:visited {
  color: #654321;
}

.sample {
    margin: 0;
    margin-left: 50px;
    margin-right: 172px;
    padding: 0;
    border: 0;
    font-family: arial,sans-serif;
    font-size: small;
    overflow: hidden;
}

.icon {
    margin: 0;
    padding: 0;
    border: 0;
    width: 48px;
    float: left;
}

.info {
    margin: 0;
    padding: 0;
    border: 0;
    width: 170px;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    width: 170px;
    float: right;
    font-family: arial,sans-serif;
    font-size: small;
    list-style: none outside none;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
}

li.middle {
    border-bottom: 2px solid #9fbd75;
}

#progress {
    font-weight:bold;
    clear: both;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}

#progress a:link {
    color: #618C50;
}

#progress a:hover {
    color: #405F34;
}

#progress a:visited {
    color: #654321;
}

#progress .pg {
    margin: 5px;
    padding: 5px;
}

#pg {
    background-color: #9fbd75;
}

.percent {
    border: 1px solid #9fbd75;
    width: 100%;
    height: 10px;
}

.percent_high {
    background-color: #9fbd75;
}

.percent_middle {
    background-color: #e0c056;
}

.percent_low {
    background-color: #e05686;
}

#options {
    text-align: center;
}
#config, #what, #where {
    float: left;
    width: 30%;
}
#config span, #what span, #where span {
    display: block;
}
#options h1 {
    font-size: small;
    color: #AAA;
    cursor: pointer;
}
